<header class="flex w-full justify-center px-8 py-4 bg-gray-100 border-gray-400 border-b">
    <nav class="flex items-center justify-between flex-wrap flex-grow container">
        <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-indigo-500 font-bold text-xl">
            {{ .Site.Title }}
        </a>
        <div class="flex items-center justify-between">
            <a href="/docs" class="px-4">Docs</a>
            <a href="https://github.com/ezfw/ezfw" class="px-4">Github</a>
        </div>
    </nav>
</header>