{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="text-center text-gray-700">
    <h1 class="font-thin text-6xl text-gray-900 relative">
        EZFW
    </h1>
    <p>{{ .Content }}</p>
    <div class="mt-16 flex justify-center">
        <a class="border px-5 py-3 bg-indigo-500 text-white rounded-sm hover:bg-indigo-600" href="https://github.com/ezfw/ezfw">View On Github</a>
    </div>

    <div class="flex justify-center mt-16">
        <img src="/carbon3.svg" alt="code" class="xl:w-3/5 shadow-xl">
    </div>
</article>
{{ end }}